/* Base Styles -------------------- */
*,*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Bright', 'Hoefler Text', 'Baskerville';
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5em;;
}

h1 {  
  font-size: 3em; 
  text-transform: uppercase;
  font-weight: strongbold;
  color: white;
  }

h2 {
  color: black;
  font-size: 2em;
  padding-top: 15px;
}

a {
  text-decoration: none;
}

/* ---- Navigation ---- */

.main-header {
  background-color: black;
  margin: 0;  
  }

.main-nav {
  margin-top: 0;
}

.title,
.main-nav a {
  padding: 10px 15px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase; 
  color: rgb(164, 149, 173);
}
 
.main-nav a:hover {
  color: rgb(10, 105, 6);
}  
  
/* ---- Banner ---- */
#banner-line {
  margin-top: 6%;
}

.banner {
  height: 850px;
  background: ivory url("../img/flower-hand-hold-river-preview.jpg") no-repeat center;
  background-size: cover;
} 

/* ---- Layout Containers ---- */
  
.about {
  width:80%;  
  margin: auto;
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  }

.col {
  flex-grow: 1;
  margin-right: 25px;
  margin-left:  25px;
  background-color: antiquewhite;
}

.spring-img {
  width: 200px;
  margin-top: 25px;
  padding: 10px;
  border: solid 1px peachpuff;
  }

 
.main-header,
.main-footer {
  width: 100%; 
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
 } 

 .main-footer {
   margin:25px;
 }
  
 /* Flowers ------------------ */

 .flower-img {
  width: 200px;
  height: 150px;
  margin: 5px;
  padding: 2px;
  border: solid 1px peachpuff;
  float: center;
 }

 .list{
  display: flex;
  flex-wrap: wrap;  
  margin: auto;
  justify-content: space-around;  
 }

 .item {  
  margin: 5px 5px;
  overflow: auto;
  border: solid grey 2px;
 }

 #flowers {
   color: Black;
 }

/* Layout Styles ------------------ */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/*----Media Queries----*/
@media (min-width: 769px) {
	.main-header,
  .main-nav,
  .columns {
		display: flex;
  }

  .flower-img {
    float: left;
   }
  
  .item {
    min-width: 500px;
    }

	.main-header {
		flex-direction: column;
		align-items: center;
  }
  
  .col {
    flex: 1;
  }

  .columns {
    flex-wrap: wrap;
  }
}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
  }
  
} 


